@{
    ViewData["Title"] = "Home Page";
}


<head>
    <link rel="stylesheet" href="/css/darkmode.css">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script type="module" src="/js/google-auth.js"></script>
</head>

<h1>hola mundo</h1>

<div id="g_id_onload" data-client_id="232066151390-poebl0golh1lr2tfcn9i0k1pv401dc8k.apps.googleusercontent.com"
    data-callback="handleCredentialResponse">
</div>

<div class="g_id_signin" data-type="standard"></div>

<div id="user-info"></div>

<button onclick="signOut()">Cerrar sesión</button>
