<head>
<script type="module" src="~/js/task.api.js"></script>
<link rel="stylesheet" href="~/css/Home.css" />
</head>
<h1 class="minimal-title">Lista de Tareas</h1>
<div class="minimal-task-container">
    <ul id="task-list"></ul>
</div>
<form id='task-form'>
    <input type="number" name="id" placeholder="ID">
    <button type="submit">eliminar</button>
</form>