<head>
    <script type="module" src="~/js/user.api.js"></script>
</head>
<h1>hola mundo</h1>
<style>
    body {
        background-color: black;
        color: white;
    }
</style>
<h1>barra de navegacion de usario</h1>
<form id="user-form">
   <input type="number" name="id" placeholder="id" > 
   <input type="text" name="name" placeholder="name" >
   <button type="submit">Enviar</button>
</form>
<h1>lista de usarios</h1>
<ul id="user-list">

</ul>


<h1>agregar usario</h1>
<form id="user-form-create">
    <input type="text" name="name" placeholder="name">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Enviar</button>
</form>