<head>
    <script type="module" src="~/js/user.api.js"></script>
</head>
<h1>hola mundo</h1>
<div class="styles">
    <style>
        body {
            background-color: black;
            color: white;
        }

        .search {
            width: 500px;
            height: 200px;
            margin: auto;

        }
    </style>
</div>
<div class="listaUser">
    <ul id="user-list"></ul>
</div>

<div class="login">
    <h1>crear cuenta</h1>
    <form id="login-form">
        <h1>Correo</h1>
        <input type="text" name="email" placeholder="correo" required>
        <h1>password</h1>
        <input type="password" name="password" required>
        <br>
        <button type="submit">OWO</button>
    </form>
</div>
<br>
<div class="search-form-conteiner">
    <h1>Buscar usuario</h1>
    <form id="search-form">
        <h1>Correo</h1>
        <input type="text" name="email" placeholder="correo">
        <br>
        <button type="submit">Buscar</button>
    </form>